<div class="container">
  <h1>Result</h1>
  <% if @included %>
    <% if @english_word %>
    <p><strong>Congratulations!</strong> <%= @guess %> is a valid English word.</p>
      <% else %>
        <p>Sorry, <strong><%= @guess %></strong> is not a vaild English word.</p>
    <% end %>
  <% else %>
      <p>Sorry, you can't make <strong><%= @guess %></strong> out of <%= @letters.join(', ') %></p>
  <% end %>
  <%= link_to "Play again", new_path, class:"play-again" %>
</div>
